*,
*:before,
*:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.victory {
  font-family: 'Press Start 2P', cursive;
  font-size: 4rem;
  font-weight: 400;
  color: #018bfb;
  position: fixed;
  top: 40px;
}

.victory:after {
  content: "Victory";
}

.imposter {
  margin-top: 100px;
  display: flex;
}

.spacesuit {
  position: relative;
}

.chest-and-head {
  width: 140px;
  height: 200px;
  background: #852631;
  position: relative;
  border: 10px solid #000000;
  border-radius: 60px 80px 0 0;
  border-bottom: none;
}

.chest-and-head:after {
  content: "";
  width: 92%;
  height: 85%;
  background: #eb432f;
  position: absolute;
  left: 4%;
  /* top: -1px; {*/
  z-index: 2;
  border-radius: 58% 70% 28% 42% / 28% 56% 88% 89%;;
}

.legs {
  height: 50px;
  width: 60px;
  position: relative;
  z-index: 2;
  background: #852631;
  border: 10px solid #000000;
  border-top: none;
  border-radius: 0 0 22px 22px;
}

.legs::after {
  content: "";
  height: 45px;
  width: 60px;
  position: absolute;
  left: 70px;
  background: #852631;
  border: 10px solid #000000;
  border-top: none;
  border-radius: 0 0 22px 22px;
}

.legs::before {
  content: "";
  height: 10px;
  width: 55px;
  background: #852631;
  background-color: #000000;
  position: absolute;
  top: -10px;
  left: 40px;
  border-radius: 0 0 10px 0;
}

.arm {
  height: 120px;
  width: 35px;
  background: #eb432f;
  position: absolute;
  top: 75px;
  left: -35px;
  border: 10px solid #000000;
  border-right: none;
  border-radius: 20px 0 0 22px;
}

.arm:after {
  content: "";
  width: 25px; 
  height: 80px;
  background: #852631;
  position: absolute;
  top: 20px;
  border-radius: 12px 0 0 10px;
}

.helmet-glass {
  width: 110px;
  height: 75px;
  background: #225381;
  position: absolute;
  z-index: 3;
  top: 40px;
  left: 50px;
  border: 10px solid #000000;
  border-radius: 25px 50px 30px 30px;
}

.helmet-glass:after {
  content: "";
  width: 85%;
  height: 65%;
  background: #71d4ec;
  left: 13px;
  position: absolute;
  z-index: 4;
  border-radius: 0 28px 3px 30px;
}

.helmet-glass:before {
  content: "";
  width: 45%;
  height: 22%;
  background: #ffffff;
  position: absolute;
  left: 40px;
  top: 5px;
  z-index: 5;
  border-radius: 10px;
  transform: rotate(6deg);
}

.background {
  width: 70vw;
  height: 1vh;
  margin-top: 30px;
  background: #59a4a3;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 6px 6px 80px 110px #59a4a3;
}

.name {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #c90108;
  position: fixed;
  margin-top: 200px;
}

.name:after {
  content: "theamanjs"
}

body:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(to right, transparent, #000, #000);
  z-index: 30;
  animation: animate 2s linear forwards;
}
@keyframes animate{
  0%{
    right: 0;
  }
  100%{
    right: -200%;
  }
}
